*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans';
    
}
#top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}
*/
#top-nav input {
    padding: .5rem 1rem;
    width: 20rem;
}
#bottom-nav{
    display: flex;
    list-style: none;
    gap: 5rem;
    padding: .5rem 0;  
}
#ul-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: rgb(230, 176, 176);
}
#bannerImage {
    background-image: url("https://blushbar.vtexassets.com/assets/vtex.file-manager-graphql/images/b8a4c975-303b-4cb9-af16-42758d6b8f21___3b940bdad126de3430fc362075b63c35.jpg");
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
.list-products{
    height: 14rem;
    width: 10rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.4);
    padding: .5rem;
}
#productos-destacados{
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 530px;
    font-size: small;
}
#footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.productos-normales{
    height: 20rem;
    width: 20rem;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#image1{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/191238-300-auto?v=637801282991500000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 80%;
    height: 90%;
}
#image2{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/194680-300-auto?v=637964383057000000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 80%;
    height: 90%;
}
#image3{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/204059-300-auto?v=638485428830270000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 80%;
    height: 90%;
}
#destacado-1{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/205420-300-auto?v=638548397044830000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 90%;
    height: 100%;
}
#destacado-2{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/204720-300-auto?v=638513183868030000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 90%;
    height: 100%;
}
#destacado-3{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/205415-300-auto?v=638546117608270000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 90%;
    height: 100%;
}
#destacado-4{
    background-image: url("https://blushbar.vtexassets.com/arquivos/ids/205417-300-auto?v=638548395534470000&width=300&height=auto&aspect=true");
    background-size: cover;
    width: 90%;
    height: 100%;
}